.Button {
    cursor: pointer;
    transition: all .3s;
    background-color: $Bnormal;
    color: $white;
    &__search {
        padding: 0 36px;
        height: 100%;
    }
    &:hover {
        background-color: $Bhover;
    }
    &:disabled {
        background-color: $Bdisabled;
        cursor: not-allowed;
    }
    &__buy {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        max-width: 118px;
        white-space: nowrap;
        padding: 0 30px;
        &.success {
            padding: 0 10px;
            img {
                margin-right: 5px;
            }
            // &:before {
            //     content: '';
            //     width: 16px;
            //     margin-right: 7px;
            //     height: 14px;
            //     background: url('../images/img/svg/check.svg');            
            // }
        }
    }
}