section.s-cards
    .container
        h1 Картины эпохи Возрождения
        .cards
            .cards__item
                .cards__top
                    img(src="static/images/img/1.jpg" alt="Лого")
                .cards__body
                    span «Рождение Венеры» Сандро Боттичелли
                    .cards__inner
                        .cards__price
                            .cards__price_old 2 000 000 $
                            .cards__price_new 1 000 000 $
                        button(type="button" class="Button Button__buy") Купить
            .cards__item
                .cards__top
                    img(src="static/images/img/2.jpg" alt="Лого")
                .cards__body
                    span «Тайная вечеря»  Леонардо да Винчи
                    .cards__inner
                        .cards__price
                            .cards__price_new 3 000 000 $
                        button(type="button" class="Button Button__buy") Купить
            .cards__item
                .cards__top
                    img(src="static/images/img/3.jpg" alt="Лого")
                .cards__body
                    span «Сотворение Адама» Микеланджело
                    .cards__inner
                        .cards__price
                            .cards__price_old 6 000 000 $
                            .cards__price_new 5 000 000 $
                        button(type="button" class="Button Button__buy") Купить
            .cards__item.cards_sale
                .cards__top
                    img(src="static/images/img/4.jpg" alt="Лого")
                .cards__body
                    span «Урок анатомии»  Рембрандт
                    .cards__sales Продана на аукционе