footer.footer
    .container
        .footer__inner
            a(href="#").footer__logo.logo
                img(src="static/images/img/svg/footer-logo.svg" alt="Лого")
            .footer__menu.menu
                ul  
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Доставка
                    li
                        a(href="#") Оплата
                    li
                        a(href="#") Контакты
                    li
                        a(href="#") О галерее
            .footer__right
                a(href="tel:+74955555555").phone +7 (495) 555-55-55
                    +icon('phone','phone__icon')
                .location г. Москва, ул. Расплетина, 24
                    +icon('location','phone__icon')





